.logs {
  &__row {
    height: 15vh;
    opacity: 0.6;
    background-color: var(--bg-primary);
    cursor: none;
    td{
    padding: 5px 15px;}
  }
  &__row:focus-visible {
    outline: none;
  }
  &__row:focus {
    color: #495057;
  }
  &__row_bg-primary {
    opacity: 1;
    cursor: pointer;
  }

  &__row_bg-primary:focus {
    outline: 0.15rem solid #c7d2fe;
    outline-offset: -0.15rem;
  }


}
