@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#root {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
body {
  font-family: var(--font-family);
}
